
* { 
    margin: 0;
    box-sizing: border-box;
     }

body{
background-image: url(5cc64b6c-4064-4bb5-9120-901dcc48cde9.webp);
    background-size: cover;
    color: azure;
    font-size: medium;
 }
 .BODYYY{
 font-size: xx-large;
 }
 
